.social-links{

margin-top:20px;

}

.social-links a{

margin:0 10px;
color:#00ff88;
text-decoration:none;

}

.footer-social{

margin-bottom:10px;

}

.footer-social a{

margin:0 10px;
color:#00ff88;
text-decoration:none;

}